<div class="container py-3">
  <div class="row mb-2">
    <div class="col-12">
      <mat-card class="searchBox">
        <mat-card-content>
          <div class="input-group">
            <input type="text" class="form-control" #searchTxt placeholder="Search" />
            <button type="button" class="btn btn-outline-danger me-2" (click)="search(searchTxt.value)">Go</button>
          </div>          
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-8">
      <p class="trending" *ngIf="!searched">
        Top Headlines &nbsp;
        <img [src]="locationData?.country_flag" class="countryFlag" />
        <span class="timeDate">
         {{locationData?.time_zone.current_time | date: 'medium' }}
        </span>
      </p>
      <p class="trending" *ngIf="searched">
        Results found : {{searchedData?.totalResults}}
        <span class="timeDate">
          {{locationData?.time_zone.current_time | date: 'medium' }}
         </span>
      </p>
      <mat-progress-bar mode="indeterminate" *ngIf="!articles"></mat-progress-bar>
      <app-search-result *ngIf="searched" [searchResult]="searchedData?.articles"></app-search-result>
      <div class="row" *ngIf="!searched">
          <div class="col-lg-6 col-md-6 col-sm-12" *ngFor="let news of articles?.articles">
            <a class="news-url" [href]="news.url" target="_new">
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>{{news.title | slice:0:100 }}..</mat-card-title>          
              </mat-card-header>
              <img mat-card-image [src]="news.urlToImage || newNetworkLogo" [alt]="news.title">
              <mat-card-content>
                <mat-card-subtitle>Source: {{news.source.name}} | {{news.publishedAt | date: 'medium'}}</mat-card-subtitle>
                <p>
                  {{news.description }}
                </p>
              </mat-card-content>
            </mat-card>
            </a>
          </div>
      </div>
    </div>
    <div class="col-4">
      <p class="trending">Trending</p>
      <mat-progress-bar mode="indeterminate" *ngIf="!latestTrends"></mat-progress-bar>
      <div class="row">
        <div class="col-12 mb-2" *ngFor="let trend of latestTrends?.data.items">
          <a class="news-url side-card-links" [href]="trend.ht_news_item.ht_news_item_url" target="_new">
            <mat-card class="side-card">
              <mat-card-content>
                <div class="row">
                  <div class="col-lg-3 col-md-4 col-sm-12">
                    <img *ngIf="trend.ht_picture" mat-card-sm-image [src]="trend.ht_picture">
                  </div>
                  <div class="col-lg-9 col-md-8 col-sm-12">
                    <p class="title"><strong>{{trend.title}}</strong></p>
                    {{trend.ht_news_item.ht_news_item_snippet}}
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </a>          
        </div>
      </div>
    </div>    
  </div>
</div>
