@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Poppins:wght@600&display=swap');

.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
    color: white;
    font-weight: 500;
    border-top: 1px solid rgb(184, 0, 0);
    border-bottom: 1px solid rgb(184, 0, 0);
  }
  
  .navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    color: yellow;
    border-top: 1px solid yellow;
    border-bottom: 1px solid yellow;
  }
  
  .nga-navbar {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 11px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 11px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: rgb(184, 0, 0);
  }
  
  .nga-navbar-logo {
    font-weight: 700;
  }
  
  .nga-navbar-logo:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  
  .nga-logo {
    font-family: 'Caveat', cursive;
    font-family: 'Poppins', sans-serif;
    text-shadow: 0px 0px 8px yellow;
  }
  
  .nga-logo:hover {
    color: rgba(255, 255, 255, 0.75);
  }