<header class="navbar navbar-expand-md navbar-dark fixed-top nga-navbar">
    <nav class="container" aria-label="Main navigation">
      <a routerLink="/" class="navbar-brand" alt="Accueil" aria-label="newsnetwork">
        <img src="./assets/params/images/logo/ganatan-logo.png" srcset="./assets/params/images/logo/ganatan-logo.png,
        ./assets/params/images/logo/ganatan-logo@2x.png 2x" width="25" height="25" alt="Logo News Network">
        <span class="nga-logo mx-1">sanchar seva</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/">
              <i class="fas fa-home me-1"></i>Home</a>
          </li>
        </ul>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/entertainment">
              <i class="fas fa-television me-1"></i>Entertainment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/technology">
              <i class="fas fa-solid fa-satellite me-1"></i>Technology</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/health">
              <i class="fas fa-solid fa-heart-pulse me-1"></i>Health</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/sports">
              <i class="fas fa-duotone fa-football me-1"></i>Sports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/business">
              <i class="fas fa-regular fa-sack-dollar me-1"></i>Business</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/contact">
              <i class="fas fa-envelope me-1"></i>Contact</a>
          </li>
        </ul>
        <form class="d-flex">
          <!-- <button type="button" class="btn btn-sm btn-outline-light me-2" routerLink="/signup"><i
              class="fas fa-user-plus me-2"></i>Sign up</button> -->
          <button type="button" class="btn btn-sm btn-outline-light me-2"><i
              class="fas fa-sign-in-alt me-2"></i>Login</button>
        </form>
      </div>
    </nav>
  </header>
