<div class="container py-3">
    <div class="row mb-2">
        <div class="col-12">
            <mat-card class="searchBox">
                <mat-card-content>
                    <div class="input-group">
                        <input type="text" class="form-control" #searchTxt placeholder="Search" />
                        <button type="button" class="btn btn-outline-danger me-2"
                            (click)="search(searchTxt.value)">Go</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <p class="trending" *ngIf="!searched">
                {{title}} &nbsp;
                <!-- <img [src]="locationData?.country_flag" class="countryFlag" /> -->
                <span class="timeDate">
                    <app-date></app-date>
                </span>
            </p>
            <p class="trending" *ngIf="searched">
                Results found : {{searchedData?.totalArticles || 0}} &nbsp;&nbsp;<button type="button"
                    class="btn btn-outline-light btn-sm" (click)="clearSearch(searchTxt)">Clear Search</button>
                <span class="timeDate">
                    <app-date></app-date>
                </span>
            </p>
            <mat-progress-bar mode="indeterminate" *ngIf="searchBusy"></mat-progress-bar>
            <app-search-result *ngIf="searched" [searchResult]="searchedData?.articles"></app-search-result>
            <div class="row" *ngIf="!searched">
                <div class="col-12">
                    <mat-card class="searchBox">
                        <mat-card-header>
                            <mat-card-title>
                                <p>Disclaimer for ClickTimes.news</p>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>All the information on this website - https://ClickTimes.news - is published in good
                                faith and for general information purpose only. ClickTimes News does not make any
                                warranties about the completeness, reliability and accuracy of this information. Any
                                action you take upon the information you find on this website (ClickTimes News), is
                                strictly at your own risk. ClickTimes News will not be liable for any losses and/or
                                damages in connection with the use of our website.</p>
                            <p>From our website, you can visit other websites by following hyperlinks to such external
                                sites. While we strive to provide only quality links to useful and ethical websites, we
                                have no control over the content and nature of these sites. These links to other
                                websites do not imply a recommendation for all the content found on these sites. Site
                                owners and content may change without notice and may occur before we have the
                                opportunity to remove a link which may have gone 'bad'.</p>
                            <p>Please be also aware that when you leave our website, other sites may have different
                                privacy policies and terms which are beyond our control. Please be sure to check the
                                Privacy Policies of these sites as well as their "Terms of Service" before engaging in
                                any business or uploading any information.</p>
                            <h2>Consent</h2>
                            <p>By using our website, you hereby consent to our disclaimer and agree to its terms.</p>
                            <h2>Update</h2>
                            <p>Should we update, amend or make any changes to this document, those changes will be
                                prominently posted here.</p>
                            <p>If you require any more information or have any questions about our site's disclaimer,
                                please feel free to contact us by email at info@ClickTimes.news. Our Disclaimer was
                                generated with the help of the <a href="https://www.disclaimergenerator.net/">Free
                                    Disclaimer Generator</a>.</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <p class="trending">Trending</p>
            <app-google-trends></app-google-trends>
        </div>
    </div>
</div>