<footer class="nga-footer">
    <div class="py-3 text-center" style="background-color: rgb(184, 0, 0);">
      <div class="container">
        <!-- <a href="{{ footerUrl }}">{{ footerLink }}</a> -->
        <p>&copy; {{currentYear}} All Rights Reserved | <a routerLink="/" (click)="backToTop()" aria-label="Go back to home page"><strong>www.clicktimes.news</strong></a> | <a routerLink="/about" (click)="backToTop()" aria-label="About Us">About Us</a> | <a routerLink="/privacy-policy" (click)="backToTop()" aria-label="Privacy Policy">Privacy Policy</a> |  <a routerLink="/disclaimer" (click)="backToTop()" aria-label="Disclaimer">Disclaimer</a></p>
      </div>
    </div>
  </footer>